
# 🐍 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

venv/
env/
.venv/

*.log
local_settings.py
db.sqlite3

media/
staticfiles/

.env
.env.*

htmlcov/
.tox/
.coverage
*.cover
.pytest_cache/

.vscode/
.idea/

.DS_Store
Thumbs.db

*/migrations/*.py
!*/migrations/__init__.py
